spring:
  application:
    name: admin

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/security
    username: dev
    password: dev

    initialization-mode: never
    platform: postgres
    data: classpath:sql/data-postgres.sql

  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
#        default_batch_fetch_size: 100

  devtools:
    restart.enabled: false
    livereload.enabled: true

logging:
  level:
    io.devfactory: debug
    org.hibernate.SQL: debug

decorator:
  datasource:
    p6spy:
      enable-logging: true
