<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layoutDefault :: default(~{::main}, ~{::title}, _, ~{::style})}">
<head>
  <title>AOP Method - DevFactory</title>
  <style>
    section.section-main {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 50vh;
    }
  </style>
</head>
<body>

<section th:ref="main" class="section-main">
  <h1 th:text="${method}"></h1>
</section>

</body>
</html>
